name: LRPS2-libretro Linux x86_64

on:
  schedule:
    - cron: '0 2 * * *' # run at 2 AM UTC
#  watch: # this is a hack that lets repo owners trigger a build by starring
#    types: [started]
#    if: github.actor == github.event.repository.owner.login

jobs:
  Windows:
    name: Build for Linux
    runs-on: ubuntu-latest

    steps:
    - name: Install needed packages
      run: sudo apt install wget git build-essential libgl1-mesa-dev libsoundtouch-dev libudev-dev libpcap-dev libwayland-dev libx11-xcb-dev libaio-dev libxi-dev x11-utils libx11-dev libxext-dev libxrandr-dev libpthread-stubs0-dev
    - name: Get latest cmake
      uses: lukka/get-cmake@latest
    - name: Checkout source
      run: git clone https://github.com/libretro/pcsx2.git && cd pcsx2 && git checkout libretro && git submodule update --init --recursive
    - name: Build libretro LRPS2 core
      working-directory: pcsx2
      run: mkdir build && cd build && cmake .. -DLIBRETRO=ON -DCMAKE_BUILD_TYPE=Release -DCMAKE_LINK_WHAT_YOU_USE=TRUE && make -j8
    - name: Prep for release
      working-directory: pcsx2/build/bin
      run: |
        wget https://raw.githubusercontent.com/libretro/libretro-super/master/retrolink.sh && chmod +x retrolink.sh && ./retrolink.sh pcsx2_libretro.so
        zip -9 ../../../pcsx2_libretro.so.zip pcsx2_libretro.so
    - name: Create new release
      uses: svenstaro/upload-release-action@v2
      with:
        repo_token: ${{ secrets.GITHUB_TOKEN }}
        tag: Linux_64-bit
        file: pcsx2_libretro.so.zip
        overwrite: true
