name: ParaLLEl-N64 libretro Linux aarch64

on:
  schedule:
    - cron: '0 2 * * *' # run at 2 AM UTC
#  watch: # this is a hack that lets repo owners trigger a build by starring
#    types: [started]
#    if: github.actor == github.event.repository.owner.login

jobs:
  Linux:
    name: Build for Linux
    runs-on: ubuntu-22.04-arm

    steps:
    - name: Install needed packages
      run: sudo apt update && sudo apt install wget git build-essential make libx11-dev libxext-dev
    - name: Checkout source
      run: git clone https://gitlab.com/parallel-launcher/parallel-n64.git && cd parallel-n64 && git submodule update --init
    - name: Build libretro core
      working-directory: parallel-n64
      run: |
        make WITH_DYNAREC=aarch64 HAVE_THR_AL=1 HAVE_PARALLEL=1 HAVE_PARALLEL_RSP=1 -j $((`nproc`-1))
        wget https://raw.githubusercontent.com/libretro/libretro-super/master/retrolink.sh && chmod +x retrolink.sh && ./retrolink.sh genesis_plus_gx_libretro.so
        zip -9 ../parallel_n64_libretro.so.zip parallel_n64_libretro.so
    - name: Create new release
      uses: svenstaro/upload-release-action@v2
      with:
        repo_token: ${{ secrets.GITHUB_TOKEN }}
        tag: Linux_aarch64
        file: parallel_n64_libretro.so.zip
        overwrite: true
