name: ParaLLEl-N64 libretro Mac x86_64

on:
  schedule:
    - cron: '0 2 * * *' # run at 2 AM UTC
#  watch: # this is a hack that lets repo owners trigger a build by starring
#    types: [started]
#    if: github.actor == github.event.repository.owner.login

jobs:
  Linux:
    name: Build for macOS
    runs-on: macos-latest

    steps:
    - name: Checkout source
      run: git clone https://github.com/libretro/parallel-n64.git && cd parallel-n64 && git submodule update --init
    - name: Build libretro core
      working-directory: parallel-n64
      run: |
        make -j8
        zip -9 ../parallel_n64_libretro.dylib.zip parallel_n64_libretro.dylib
    - name: Create new release
      uses: svenstaro/upload-release-action@v2
      with:
        repo_token: ${{ secrets.GITHUB_TOKEN }}
        tag: macOS_x86_64
        file: parallel_n64_libretro.dylib.zip
        overwrite: true
