name: ffmpeg libretro Windows x64

on:
  schedule:
    - cron: "0 2 * * *"
  watch:
    types: [started]
    if: github.actor == github.event.repository.owner.login

jobs:
  build-windows:
    runs-on: ubuntu-latest

    env:
      PREFIX: ${{ github.workspace }}/ffmpeg-windows
      FFMPEG_SRC: ${{ github.workspace }}/ffmpeg-src
      CORES_DIR: ${{ github.workspace }}/RetroArch/cores/libretro-ffmpeg

    steps:
      # ----------------------------
      # Checkout RetroArch
      # ----------------------------
      - name: Checkout RetroArch source
        uses: actions/checkout@v4
        with:
          submodules: recursive

      # ----------------------------
      # Install dependencies
      # ----------------------------
      - name: Install build dependencies
        run: |
          sudo apt update
          sudo apt install -y \
            git yasm nasm pkg-config mingw-w64 clang curl zip

      # ----------------------------
      # Clone FFmpeg
      # ----------------------------
      - name: Download FFmpeg source
        run: |
          git clone https://github.com/FFmpeg/FFmpeg.git $FFMPEG_SRC
          cd $FFMPEG_SRC
          git checkout release/6.1

      # ----------------------------
      # Build static FFmpeg for Windows
      # ----------------------------
      - name: Build FFmpeg (static Windows x64)
        run: |
          cd $FFMPEG_SRC
          ./configure \
            --prefix="$PREFIX" \
            --cross-prefix=x86_64-w64-mingw32- \
            --target-os=mingw32 \
            --arch=x86_64 \
            --enable-static \
            --disable-shared \
            --disable-programs \
            --disable-doc \
            --disable-debug \
            --disable-autodetect \
            --disable-everything \
            --enable-protocol=file \
            --enable-demuxer=mov,matroska,avi,mp3,aac,ogg,wav,flac \
            --enable-decoder=mp3,aac,vorbis,flac,h264,hevc,pcm_s16le \
            --enable-swresample \
            --enable-swscale \
            --enable-gpl \
            --enable-nonfree
          make -j$(nproc)
          make install

      # ----------------------------
      # Build libretro-ffmpeg core
      # ----------------------------
      - name: Build libretro-ffmpeg core (Windows x64)
        working-directory: RetroArch/cores/libretro-ffmpeg
        run: |
          make clean || true

          # Set cross compiler and FFmpeg paths
          make \
            platform=windows \
            STATIC_LINK_FFMPEG=1 \
            FFMPEG_DIR="$PREFIX" \
            CFLAGS="-I$PREFIX/include" \
            FFMPEG_LDFLAGS="-L$PREFIX/lib" \
            FFMPEG_LIBS="-lavcodec -lavformat -lavutil -lswresample -lswscale" \
            -j$(nproc)

      # ----------------------------
      # Strip DLL
      # ----------------------------
      - name: Strip libretro-ffmpeg DLL
        run: |
          x86_64-w64-mingw32-strip $CORES_DIR/ffmpeg_libretro.dll

      # ----------------------------
      # Zip the DLL
      # ----------------------------
      - name: Zip core
        run: |
          zip -j ffmpeg_libretro.dll.zip $CORES_DIR/ffmpeg_libretro.dll

      # ----------------------------
      # Upload release
      # ----------------------------
      - name: Publish release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          tag: Windows_64-bit
          file: ffmpeg_libretro.dll.zip
          overwrite: true
