name: ffmpeg libretro Windows x64
on:
  schedule:
    - cron: 0 2 * * *
  watch:
    types:
      - started
    if: github.actor == github.event.repository.owner.login
jobs:
  Build:
    name: Build for Windows
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source
        run: |
          git clone https://github.com/libretro/RetroArch.git
          cd RetroArch
          git submodule update --init --recursive
      - name: Install base build tools
        run: sudo apt-get update && sudo apt-get install -y autoconf automake
          build-essential cmake mingw-w64 mingw-w64-x86-64-dev mingw-w64-tools
          git-core libass-dev libfreetype6-dev libgnutls28-dev meson ninja-build
          pkg-config texinfo yasm nasm zlib1g-dev libbz2-dev liblzma-dev
          libgl1-mesa-dev
      - name: Download FFmpeg source
        run: |
          git clone https://github.com/FFmpeg/FFmpeg.git ffmpeg-src
          cd ffmpeg-src
          git checkout release/5.1   # or any version you want
      - name: setup some directories ahead of time
        run: |
          mkdir -p "${GITHUB_WORKSPACE}/ffmpeg-static/include"
          mkdir -p "${GITHUB_WORKSPACE}/ffmpeg-static/lib"
      - name: Configure and build static FFmpeg
        run: >
          cd ffmpeg-src

          ./configure \
            --prefix="$GITHUB_WORKSPACE/ffmpeg-static" \
              --pkg-config-flags="--static" \
              --extra-cflags="-fPIC" \
              --extra-ldflags="-static" \
              --cc=x86_64-w64-mingw32-gcc \
              --cxx=x86_64-w64-mingw32-g++ \
              --target-os=mingw32 \
              --arch=x86_64 \
              --enable-cross-compile \
              --cross-prefix=x86_64-w64-mingw32- \
              --enable-static \
              --disable-shared \
              --disable-debug \
              --disable-doc \
              --disable-programs \
              --enable-gpl \
              --enable-nonfree \
              --enable-swresample \
              --enable-swscale \
              --enable-avformat \
              --enable-avcodec \
              --enable-avutil \
              --enable-protocol=file \
              --enable-demuxer=mov,matroska,avi,mp3,aac,ogg,wav,flac \
              --enable-decoder=mp3,aac,vorbis,flac,h264,hevc,pcm_s16le
          make -j$(nproc)

          make install
      - name: debug - list FFmpeg include directories
        run: |
          echo "Listing ffmpeg-static/include:"
          ls -R ${GITHUB_WORKSPACE}/ffmpeg-static/include || true

          echo "Checking for swresample headers:"
          ls ${GITHUB_WORKSPACE}/ffmpeg-static/include/libswresample || true
      - name: Build libretro core
        working-directory: RetroArch/cores/libretro-ffmpeg
        run: >
          export
          PKG_CONFIG_PATH="$PKG_CONFIG_PATH:${GITHUB_WORKSPACE}/ffmpeg-static/lib/pkgconfig"

          pkg-config --libs --static libavcodec

          pkg-config --cflags --static libavcodec

          echo "$PKG_CONFIG_PATH"

          make clean || true

          # try to make these CFLAGS come last, since it seems they're getting clobbered everywhere else
          echo " \
            CFLAGS += \
            -I${GITHUB_WORKSPACE}/ffmpeg-static/include \
            -I${GITHUB_WORKSPACE}/ffmpeg-static/include/libswresample \
            -I${GITHUB_WORKSPACE}/ffmpeg-static/include/libswscale \
            -I${GITHUB_WORKSPACE}/ffmpeg-static/include/libavutil \
            -I${GITHUB_WORKSPACE}/ffmpeg-static/include/libavcodec \
            -I${GITHUB_WORKSPACE}/ffmpeg-static/include/libavformat
          " > Makefile.local

          make \
            FFMPEG_DIR=${GITHUB_WORKSPACE}/ffmpeg-static \
            platform=win \
            CC=x86_64-w64-mingw32-gcc \
            LIBS="-L../../../ffmpeg-static/lib -lavcodec -lole32 -lavutil -lm -luser32 -lbcrypt -latomic" \
            CXX=x86_64-w64-mingw32-g++ \
            STATIC_LINK_FFMPEG=1 \
            BAKE_IN_FFMPEG=1 \
            HAVE_SWSCALE=1 \
            HAVE_SWRESAMPLE=1 \
            INTERNAL_SWRESAMPLE=1 \
            INTERNAL_SWSCALE=1 \
            INTERNAL_OGG=0 \
            INTERNAL_VORBIS=0 \
            FFMPEG_LDFLAGS="$(pkg-config --static --libs libavcodec libavformat libavutil libswresample libswscale)" #\
#            CFLAGS="-I../../../ffmpeg-static/include -I../../../ffmpeg-static/x86_64-w64-mingw32/include -I./.. -I. -I./../../libretro-common/include -I./../../libretro-common/include/compat" 
            
      - name: Zip output
        working-directory: RetroArch/cores/libretro-ffmpeg
        run: |
          zip -9 ../../../ffmpeg_libretro.dll.zip ffmpeg_libretro.dll
      - name: Publish release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          tag: Windows_64-bit
          file: ffmpeg_libretro.dll.zip
          overwrite: true
