name: ffmpeg libretro Windows x64
on:
  schedule:
    - cron: 0 2 * * *
  watch:
    types:
      - started
    if: github.actor == github.event.repository.owner.login
jobs:
  Build:
    name: Build for Windows
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source
        run: |
          git clone https://github.com/libretro/RetroArch.git
          cd RetroArch
          git submodule update --init --recursive
      - name: Install base build tools
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            autoconf automake \
            build-essential cmake mingw-w64 mingw-w64-x86-64-dev mingw-w64-tools \
            git-core libass-dev libfreetype6-dev libgnutls28-dev meson ninja-build \
            pkg-config texinfo yasm nasm zlib1g-dev libbz2-dev liblzma-dev \
            libgl1-mesa-dev python3 python3-pip python3-setuptools python3-wheel 
          pip3 install --user meson
          
      - name: setup some directories ahead of time
        run: |
          mkdir -p "${GITHUB_WORKSPACE}/dav1d-static/include"
          mkdir -p "${GITHUB_WORKSPACE}/dav1d-static/lib"

      - name: Build and install dav1d from source
        run: |
          # Add the user's local bin to the PATH for meson/ninja
          export PATH="$HOME/.local/bin:$PATH"
          git clone https://code.videolan.org/videolan/dav1d.git
          cd dav1d
          mkdir build
          cd build
          # make a stupid meson cross-compile cfg
          echo "[binaries]" >> mingwbuild.txt
          echo "c = 'x86_64-w64-mingw32-gcc'" >> mingwbuild.txt
          echo "cpp = 'x86_64-w64-mingw32-g++'" >> mingwbuild.txt
          echo "ar = 'x86_64-w64-mingw32-ar'" >> mingwbuild.txt
          echo "windres = 'x86_64-w64-mingw32-windres'" >> mingwbuild.txt
          echo "nasm = '/usr/bin/nasm'" >> mingwbuild.txt
          echo "strip = 'x86_64-w64-mingw32-strip'" >> mingwbuild.txt
          echo "exe_wrapper = ''" >> mingwbuild.txt
          echo "[host_machine]" >> mingwbuild.txt
          echo "system = 'windows'" >> mingwbuild.txt
          echo "cpu_family = 'x86_64'" >> mingwbuild.txt
          echo "cpu = 'x86_64'" >> mingwbuild.txt
          echo "endian = 'little'" >> mingwbuild.txt
          meson setup --cross-file mingwbuild.txt
          # Use --default-library=static
          meson .. --buildtype release --default-library=static --prefix="$GITHUB_WORKSPACE/dav1d-static"
          ninja
          ninja install
          # Ensure pkg-config can find the newly installed .pc file
          export PKG_CONFIG_PATH="$PKG_CONFIG_PATH:${GITHUB_WORKSPACE}/dav1d-static/lib/pkgconfig"
        
      - name: Download FFmpeg source
        run: |
          git clone https://github.com/FFmpeg/FFmpeg.git ffmpeg-src
          cd ffmpeg-src
          git checkout release/7.1   # or any version you want
      - name: setup some directories ahead of time
        run: |
          mkdir -p "${GITHUB_WORKSPACE}/ffmpeg-static/include"
          mkdir -p "${GITHUB_WORKSPACE}/ffmpeg-static/lib"
      - name: Configure and build static FFmpeg
        run: >
          cd ffmpeg-src

          export PKG_CONFIG=x86_64-w64-mingw32-pkg-config
          export PKG_CONFIG_LIBDIR="$GITHUB_WORKSPACE/dav1d-static/lib/pkgconfig"
          export PKG_CONFIG_PATH=""

          ./configure \
            --prefix="$GITHUB_WORKSPACE/ffmpeg-static" \
              --pkg-config-flags="--static" \
              --extra-cflags="-fPIC" \
              --extra-ldflags="-static" \
              --cc=x86_64-w64-mingw32-gcc \
              --cxx=x86_64-w64-mingw32-g++ \
              --target-os=mingw32 \
              --arch=x86_64 \
              --enable-cross-compile \
              --cross-prefix=x86_64-w64-mingw32- \
              --enable-static \
              --disable-shared \
              --disable-debug \
              --disable-doc \
              --disable-programs \
              --enable-gpl \
              --enable-nonfree \
              --enable-swresample \
              --enable-swscale \
              --enable-avformat \
              --enable-avcodec \
              --enable-avutil \
              --enable-protocol=file \
              --enable-demuxer=mov,matroska,avi,mp3,aac,ogg,wav,flac \
              --enable-decoder=mp3,aac,vorbis,flac,h264,hevc,pcm_s16le \
              --enable-libdav1d
          #debug steps
          grep DAV1D ffbuild/config.log
          grep DAV1D ffbuild/config.h
          
          make -j$(nproc)

          make install

      - name: Build libretro core
        working-directory: RetroArch/cores/libretro-ffmpeg
        run: |
          export PKG_CONFIG_PATH="$PKG_CONFIG_PATH:${GITHUB_WORKSPACE}/ffmpeg-static/lib/pkgconfig"

          make clean || true

          ###############################################################################
          # 1. Append correct include paths (placed LAST so nothing overrides them)
          ###############################################################################
          echo "CFLAGS += -I${GITHUB_WORKSPACE}/ffmpeg-static/include \
           -I${GITHUB_WORKSPACE}/ffmpeg-static/include/libswresample \
           -I${GITHUB_WORKSPACE}/ffmpeg-static/include/libswscale \
           -I${GITHUB_WORKSPACE}/ffmpeg-static/include/libavutil \
           -I${GITHUB_WORKSPACE}/ffmpeg-static/include/libavcodec \
           -I${GITHUB_WORKSPACE}/ffmpeg-static/include/libavformat" \
           >> Makefile.common

          ###############################################################################
          # 2. Build core with FFmpeg statically linked
          ###############################################################################
          make \
            FFMPEG_DIR=${GITHUB_WORKSPACE}/ffmpeg-static \
            platform=win \
            CC=x86_64-w64-mingw32-gcc \
            CXX=x86_64-w64-mingw32-g++ \
            STATIC_LINK_FFMPEG=1 \
            BAKE_IN_FFMPEG=1 \
            HAVE_SWSCALE=1 \
            HAVE_SWRESAMPLE=1 \
            INTERNAL_SWRESAMPLE=1 \
            INTERNAL_SWSCALE=1 \
            INTERNAL_OGG=0 \
            INTERNAL_VORBIS=0 \
            LIBS="-L../../../ffmpeg-static/lib -L../../../dav1d-static/lib -lavformat -lavcodec -ldav1d -lavutil -lswscale -lswresample -lws2_32 -lsecur32 -lole32 -lstrmiids -luuid -lopengl32 -luser32 -lbcrypt -lm -latomic"

      - name: Zip output
        working-directory: RetroArch/cores/libretro-ffmpeg
        run: |
          zip -9 ../../../ffmpeg_libretro.dll.zip ffmpeg_libretro.dll
      - name: Publish release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          tag: Windows_64-bit
          file: ffmpeg_libretro.dll.zip
          overwrite: true
