name: Play-libretro Windows x86_64

on:
  schedule:
    - cron: '0 2 * * *' # run at 2 AM UTC
#  watch: # this is a hack that lets repo owners trigger a build by starring
#    types: [started]
#    if: github.actor == github.event.repository.owner.login

jobs:
  Windows:
    name: Build for Windows
    runs-on: windows-latest

    steps:
    - name: Get latest CMake
      uses: lukka/get-cmake@latest
    - name: Checkout source
      run: git clone https://github.com/jpd002/Play-.git && cd Play- && git submodule update --init --recursive
    - name: Build libretro Play core
      working-directory: Play-
      run: mkdir build && cd build && cmake.exe -DBUILD_LIBRETRO_CORE=yes -DBUILD_PLAY=off -DBUILD_TESTS=no -DENABLE_AMAZON_S3=no  -DCMAKE_BUILD_TYPE="Release" -G "Visual Studio 16 2019" ..

    - name: Build the thing
      working-directory: Play-\build
      run: cmake.exe --build .

    - name: Prep for release
      working-directory: Play-\build\Source\ui_libretro\Debug
      run: Compress-Archive -CompressionLevel Optimal -Path play_libretro.dll -DestinationPath ..\..\..\..\..\play_libretro.dll.zip
    - name: Create new release
      uses: svenstaro/upload-release-action@v2
      with:
        repo_token: ${{ secrets.GITHUB_TOKEN }}
        tag: Windows_64-bit
        file: play_libretro.dll.zip
        overwrite: true
