name: Dolphin-libretro Windows x86_64

on:
  schedule:
    - cron: '0 2 * * *' # run at 2 AM UTC
  watch: # this is a hack that lets repo owners trigger a build by starring
    types: [started]
    if: github.actor == github.event.repository.owner.login

jobs:
  Windows:
    name: Build for Windows
    runs-on: windows-latest

    steps:
    - name: Get latest CMake
      uses: ssrobins/install-cmake@v1
    - name: Checkout source
      run: git clone https://github.com/jonian/libretro-dolphin.git && cd libretro-dolphin && git submodule update --init
    - name: Build libretro dolphin core
      working-directory: libretro-dolphin
      run: mkdir build && cd build && cmake.exe -DLIBRETRO=ON -DENABLE_QT=0 -DCMAKE_POLICY_VERSION_MINIMUM="3.5" -DCMAKE_BUILD_TYPE=Release -DCMAKE_VERBOSE_MAKEFILE=ON ..

    - name: Build the thing
      working-directory: libretro-dolphin/build
      run: cmake.exe --build . --target dolphin_libretro --config Release

    - name: Prep for release
      working-directory: libretro-dolphin/Binary
      run: Compress-Archive -CompressionLevel Optimal -Path dolphin_libretro.dll -DestinationPath ..\..\dolphin_libretro.dll.zip
    - name: Create new release
      uses: svenstaro/upload-release-action@v2
      with:
        repo_token: ${{ secrets.GITHUB_TOKEN }}
        tag: Windows_64-bit
        file: dolphin_libretro.dll.zip
        overwrite: true
